body {
	margin: 0;
	padding: 0;
	background-color: rgb(27, 29, 53);
}

header {
	padding-top: 20px;
	padding-bottom: 10px;
}

p {
	margin: 0;
}

/* Header text style */
.header_text {
	color: rgb(220, 127, 49);
	font-family: "Phenomena", sans-serif;
	font-size: 20px;
}

/* Header link style */
.header_link_shell {
	padding: 0;
	margin: 0;
}

.header_link {
	display: inline-block;
	text-decoration: none;
	padding: 0 15px 5px;
}

.header_link:hover,
.header_link:focus {
	text-decoration: none;
	outline: none;
	color: rgb(220, 127, 49);
}

.header_link:hover {
	background-color: rgb(52, 74, 101);
	border-radius: 5px;
}

.header_link:after {
	display: block;
	content: "";
	height: 2px;
	width: 0;
	background-color: rgb(220, 127, 49);
	margin: 0 auto;
	transition: .2s ease-in-out;
}

.header_link:hover:after {
	width: 100%;
}

/* Address in the header */
.header_address {
	font-size: 16px;
	margin-left: 15px;
	padding-bottom: 25px;
}

/* Logo */
.header_logo {
	display: block;
	margin: 20px auto 0;
	max-width: 100%;
	height: auto;
}

/* Right aligment in the header for items on the right */
.header_right {
	text-align: right;
}

/* Clock in the header */
.working_time {
	margin-top: 20px;
}

.working_time span {
	font-family: "Phenomena Bold", sans-serif;
	padding-left: 10px;
}

.working_time span sup {
	font-size: 12px;
}

/* Navbar */
.header_navbar {
	display: table;
	max-width: 1000px;
	width: 100%;
	margin: 10px auto 0;
	padding: 0;
}

.header_navbar li {
	display: table-cell;
	text-align: center;
	text-decoration: none;
}

.header_navbar li a {
	font-size: 26px;
}

/* Search line */
.search {
	position: relative;
	margin: 15px 0 10px 10px;
	min-width: 100%;
}

.search button {
	color: rgb(220, 127, 49);
	background-color: rgb(77, 118, 147);
	border-style: none;
	border-radius: 20px;
	text-shadow: #000 1px 0 0px, #000 0 1px 0px, #000 -1px 0 0px, #000 0 -1px 0px;
	font-family: "Phenomena ExtraBold", sans-serif;
	font-size: 18px;
	position: absolute;
	top: 0;
	bottom: 0;
	padding: 0 10px;
	line-height: 20px;
}

.search button:focus,
.search input:focus {
	outline: none;
}

.search input {
	border-style: none;
	border-radius: 16px;
	height: 24px;
	width: 400px;
	padding-left: 65px;
	margin-left: 2px;
	background-color: rgb(146, 143, 134);
}
