/* Block title */
.manufacturers_name {
	text-align: center;
	margin-top: 20px;
}

.manufacturers_name span {
	font-family: "Phenomena Bold", sans-serif;
	font-size: 36px;
	color: rgb(220, 127, 49);
	margin: 0 7px;
}

/* Background style */
.manufacturers {
	background-color: rgb(179, 177, 151);
	border-color: rgb(220, 127, 49);
	border-style: solid;
	border-width: 2px 0;
}

/* Arrows */
.arrow_prev, .arrow_next {
	height: 140px;
	line-height: 140px;
}

.arrow_prev img, .arrow_next img {
	max-width: 100%;
	height: auto;
}


/* Manufacturers list */
.manufacturers_viewport {
	width: 100%;
	margin: 20px 0;
}

.manufacturers_slidewrapper {
	width: 100%;
}

.manufacturers_list {
	width: 100%;
}

.manufacturers_item {
	display: inline-block;
	width: 20%;
	padding: 0 10px;
}

.manufacturers_item_border {
	border: 3px solid rgb(50, 0, 75);
	height: 100px;
}
