<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<div>
				<p class="header_link_shell"><a class="header_text header_link" href="#">МАГАЗИН</a></p>
				<p class="header_text header_address">г. Жуковский Московская обл.<br>"Ярмарка на Театральной" ул. Театральная 3<br>Павильон 253, 166</p>
				<p class="header_link_shell"><a class="header_text header_link" href="#">ДОСТАВКА</a></p>
				<form class="search">
					<button type="submit">ПОИСК:</button>
					<input type="search" name="search" placeholder="Введите название товара...">
				</form>
			</div>
		</div>
		<div class="col-xs-6">
			<img class="header_logo" src="../media/images/header/logo.png" alt="">
		</div>
		<div class="col-xs-3 header_right">
			<div class="header_login">
				<p class="header_link_shell"><a class="header_text header_link" href="#">РЕГИСТРАЦИЯ</a></p>
				<p class="header_link_shell"><a class="header_text header_link" href="#">ВОЙТИ</a></p>
			</div>
			<p class="header_text">ТЕЛ.: 8-800-800-00-00</p>
			<p class="header_text">e-mail: pplliittkkaa@mail.ru</p>
			<div class="working_time">
				<img src="../media/images/header/clock.png" alt="">
				<span class="header_text">ПН-ВС: 9<sup>00</sup>-18<sup>00</sup></span>
			</div>
			<div class="header_basket">
				<img src="../media/images/header/header_basket.png" alt="">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<ul class="header_navbar">
				<li><a href="#" class="header_text header_link">ГЛАВНАЯ</a></li>
				<li><a href="#" class="header_text header_link">ПЛИТКА</a></li>
				<li><a href="#" class="header_text header_link">САНТЕХНИКА</a></li>
				<li><a href="#" class="header_text header_link">МЕБЕЛЬ</a></li>
				<li><a href="#" class="header_text header_link">ДОПОЛНИТЕЛЬНО</a></li>
				<li><a href="#" class="header_text header_link">КОНТАКТЫ</a></li>
				<li><a href="#" class="header_text header_link">О НАС</a></li>
			</ul>
		</div>
	</div>
</div>