{% extends 'base.html' %}
{% load static %}

{% block include_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/landing/tile.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/landing/manufacturers.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/landing/additional_products.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/landing/contacts.css' %}">
{% endblock %}

{% block title %}Плитка{% endblock %}

{% block content %}
<hr class="separator">
<div class="tile_name">
	<div class="square" style="opacity: 0.05"></div>
	<div class="square" style="opacity: 0.19"></div>
	<div class="square" style="opacity: 0.33"></div>
	<div class="square" style="opacity: 0.47"></div>
	<div class="square" style="opacity: 0.61"></div>
	<div class="square" style="opacity: 0.75"></div>
	<div class="square" style="opacity: 0.89"></div>
	<div class="square" style="opacity: 1"></div>
	<span>ПЛИТКА</span>
	<div class="square" style="opacity: 1"></div>
	<div class="square" style="opacity: 0.89"></div>
	<div class="square" style="opacity: 0.75"></div>
	<div class="square" style="opacity: 0.61"></div>
	<div class="square" style="opacity: 0.47"></div>
	<div class="square" style="opacity: 0.33"></div>
	<div class="square" style="opacity: 0.19"></div>
	<div class="square" style="opacity: 0.05"></div>
</div>
<hr class="separator">
<div class="tile">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="tile_list">
					<div class="tile_item">
						<a href="#"><img src="../../media/images/landing/emblem_tiles/bath.png" alt=""></a>
						<p><a href="#" class="tile_text">ВАННАЯ</a></p>
					</div>
					<div class="tile_item">
						<a href="#"><img src="../../media/images/landing/emblem_tiles/kitchen.png" alt=""></a>
						<p><a href="#" class="tile_text">КУХНЯ</a></p>
					</div>
					<div class="tile_item">
						<a href="#"><img src="../../media/images/landing/emblem_tiles/floor.png" alt=""></a>
						<p><a href="#" class="tile_text">ПОЛ</a></p>
					</div>
					<div class="tile_item">
						<a href="#"><img src="../../media/images/landing/emblem_tiles/mosaic.png" alt=""></a>
						<p><a href="#" class="tile_text">МОЗАИКА</a></p>
					</div>
					<div class="tile_item">
						<a href="#"><img src="../../media/images/landing/emblem_tiles/porcelain_stoneware.png" alt=""></a>
						<p><a href="#" class="tile_text">КЕРАМОГРАНИТ</a></p>
					</div>
					<div class="tile_item">
						<a href="#"><img src="../../media/images/landing/emblem_tiles/steps.png" alt=""></a>
						<p><a href="#" class="tile_text">СТУПЕНИ</a></p>
					</div>
					<div class="tile_item">
						<a href="#"><img src="../../media/images/landing/emblem_tiles/clinker.png" alt=""></a>
						<p><a href="#" class="tile_text">КЛИНКЕР</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<hr class="separator">

<div class="manufacturers_name">
	<span>ПРОИЗВОДИТЕЛИ</span>
</div>
<hr class="separator">
<div class="manufacturers">
	<div class="container">
		<div class="row">
			<div class="col-xs-1">
				<div class="arrow_prev">
					<img src="../../media/images/landing/arrows/prev.png" alt="">
				</div>
			</div>
			<div class="col-xs-10">
				<div class="manufacturers_viewport">
					<div class="manufacturers_slidewrapper">
						<div class="manufacturers_list">
							<div class="manufacturers_item">
								<div class="manufacturers_item_border">
									<a href="#"><img src="" alt=""></a>
								</div>
							</div><!-- 
						 --><div class="manufacturers_item">
								<div class="manufacturers_item_border">
									<a href="#"><img src="" alt=""></a>
								</div>
							</div><!-- 
						 --><div class="manufacturers_item">
								<div class="manufacturers_item_border">
									<a href="#"><img src="" alt=""></a>
								</div>
							</div><!-- 
						 --><div class="manufacturers_item">
								<div class="manufacturers_item_border">
									<a href="#"><img src="" alt=""></a>
								</div>
							</div><!-- 
						 --><div class="manufacturers_item">
								<div class="manufacturers_item_border">
									<a href="#"><img src="" alt=""></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-1">
				<div class="arrow_next">
					<img src="../../media/images/landing/arrows/next.png" alt="">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="additional_products">
	<div class="additional_products_name">
		<hr class="separator">
		<span>ДОПОЛНИТЕЛЬНЫЕ ТОВАРЫ</span>
	</div>
	<img src="../../media/images/landing/fence.png" alt="">
	<div class="container">
		<div class="row">
			<div class="col-xs-4">
				<ul class="products_list">
					<li><a href="#">ВАННЫ</a></li>
					<li><a href="#">РАКОВИНЫ</a></li>
					<li><a href="#">СМЕСИТЕЛИ</a></li>
					<li><a href="#">УНИТАЗЫ</a></li>
					<li><a href="#">БИДЕ</a></li>
					<li><a href="#">ДУШЕВЫЕ КАБИНЫ</a></li>
					<li><a href="#">ДУШЕВЫЕ ПОДДОНЫ</a></li>
				</ul>
			</div>
			<div class="col-xs-4">
				<ul class="products_list">
					<li><a href="#">МЕБЕЛЬ ДЛЯ ВАННЫХ КОМНАТ</a></li>
					<li><a href="#">ПОЛОТЕНЦЕСУШИТЕЛИ</a></li>
					<li><a href="#">ЗЕРКАЛА</a></li>
					<li><a href="#">АКСЕСУАРЫ ДЛЯ ВАНН</a></li>
					<li><a href="#">ТРАПЫ, СИФОНЫ</a></li>
					<li><a href="#">ОТЛИВЫ</a></li>
					<li><a href="#">ПРОФИЛЯ ДЛЯ ПЛИТКИ</a></li>
				</ul>
			</div>
			<div class="col-xs-4">
				<ul class="products_list">
					<li><a href="#">НАРЕЗКА ПЛИТКИ</a></li>
					<li><a href="#">КЛЕЙ</a></li>
					<li><a href="#">ЗАТИРКА</a></li>
					<li><a href="#">ДОБАВКИ ДЛЯ ЗАТИРКИ</a></li>
					<li><a href="#">ГИДРОИЗОЛЯЦИЯ</a></li>
					<li><a href="#">DLS (системы выравнивания пола)</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="contacts">
	<div class="contacts_title">
		<div class="square" style="opacity: 0.05"></div>
		<div class="square" style="opacity: 0.19"></div>
		<div class="square" style="opacity: 0.33"></div>
		<div class="square" style="opacity: 0.47"></div>
		<div class="square" style="opacity: 0.61"></div>
		<div class="square" style="opacity: 0.75"></div>
		<div class="square" style="opacity: 0.89"></div>
		<div class="square" style="opacity: 1"></div>
		<div class="square" style="opacity: 1"></div>
		<div class="square" style="opacity: 1"></div>
		<div class="square" style="opacity: 1"></div>
		<div class="square" style="opacity: 1"></div>
		<div class="square" style="opacity: 1"></div>
		<div class="square" style="opacity: 1"></div>
		<div class="square" style="opacity: 1"></div>
		<div class="square" style="opacity: 1"></div>
		<div class="square" style="opacity: 1"></div>
		<div class="square" style="opacity: 1"></div>
		<div class="square" style="opacity: 1"></div>
		<div class="square" style="opacity: 0.89"></div>
		<div class="square" style="opacity: 0.75"></div>
		<div class="square" style="opacity: 0.61"></div>
		<div class="square" style="opacity: 0.47"></div>
		<div class="square" style="opacity: 0.33"></div>
		<div class="square" style="opacity: 0.19"></div>
		<div class="square" style="opacity: 0.05"></div>
		<span>КОНТАКТЫ</span>
		<div class="square" style="opacity: 0.05"></div>
		<div class="square" style="opacity: 0.19"></div>
		<div class="square" style="opacity: 0.33"></div>
		<div class="square" style="opacity: 0.47"></div>
		<div class="square" style="opacity: 0.61"></div>
		<div class="square" style="opacity: 0.75"></div>
		<div class="square" style="opacity: 0.89"></div>
		<div class="square" style="opacity: 1"></div>
		<div class="square" style="opacity: 1"></div>
		<div class="square" style="opacity: 1"></div>
		<div class="square" style="opacity: 1"></div>
		<div class="square" style="opacity: 1"></div>
		<div class="square" style="opacity: 1"></div>
		<div class="square" style="opacity: 1"></div>
		<div class="square" style="opacity: 1"></div>
		<div class="square" style="opacity: 1"></div>
		<div class="square" style="opacity: 1"></div>
		<div class="square" style="opacity: 1"></div>
		<div class="square" style="opacity: 1"></div>
		<div class="square" style="opacity: 0.89"></div>
		<div class="square" style="opacity: 0.75"></div>
		<div class="square" style="opacity: 0.61"></div>
		<div class="square" style="opacity: 0.47"></div>
		<div class="square" style="opacity: 0.33"></div>
		<div class="square" style="opacity: 0.19"></div>
		<div class="square" style="opacity: 0.05"></div>
	</div>
	<div class="container">
		<div class="row contacts_info">
			<div class="col-xs-4">
				<span>АДРЕС</span>
			</div>
			<div class="col-xs-4">
				<span>ТЕЛЕФОН</span>
			</div>
			<div class="col-xs-4">
				<span>ПОЧТА</span>
			</div>
		</div>
	</div>
	<hr class="separator contacts_separator">
	<hr class="separator" style="background-color: rgb(93, 92, 79); margin-bottom: 0">
	<div class="container">
		<div class="row">
			<div class="col-xs-4 contacts_data">
				<span>г. Жуковский "Ярмарка на Театральной"<br>ул. Театральная 3 Павильон 253 166</span>
			</div>
			<div class="col-xs-4 contacts_data">
				<span>8-916-462-22-01</span>
			</div>
			<div class="col-xs-4 contacts_data">
				<span>pplliittkkaa@yandex.ru</span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 yandex_map">
				<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A9c5acc604461803b94464caa8d6d853aa12bcb5c9e41681ade9a85655272080e&amp;lang=ru_RU&amp;scroll=true&amp;source=constructor"></iframe>
			</div>
		</div>
	</div>
</div>
<hr class="separator">
{% endblock %}